<%- include("partials/header.ejs"); %> <% if (locals.name) { %>
<h1>Welcome, <%= name %>!</h1>
<%} else { %>
<h1>Welcome, Guest!</h1>
<%} %>
<main class="container">
  <form class="task-card" method="POST" action="/add">
    <label for="">Task Name:</label>
    <input required name="tName" placeholder="Name..." type="text" />
    <label for="">Task Date:</label>
    <input required name="tDate" type="date" />
    <label for="">Task Description:</label>
    <input required name="tDesc" placeholder="Description..." type="text" />
    <button class="add-button" type="submit">Add</button>
  </form>

  <% var currentYear = new Date(); %> <% var yearToday =
  currentYear.getFullYear(); %> <% var monthToday = currentYear.getMonth(); %>
  <% var dayToday = currentYear.getDate(); %> <% %> <% if (locals.tasks) { %> <%
  for (let i = 0; i < tasks.length; i++) { %>
  <div class="task-card">
    <form method="POST" action="/update">
      <input type="hidden" name="productId" value="<%= tasks[i].tId %>" />
      <h2>Task Name:</h2>
      <input
        name="tNameUpdated"
        type="text"
        class="answer"
        placeholder="<%= tasks[i].tName %>"
        value="<%= tasks[i].tName %>"
      />
      <h2>Task Date:</h2>
      <p><%=yearToday%>-<%=monthToday%>-<%=dayToday%></p>
      <input
        name="tDateUpdated"
        type="text"
        class="answer"
        placeholder="<%=tasks[i].tDate%>"
        value="<%=tasks[i].tDate%>"
      />
      <h2>Task Description:</h2>
      <input
        name="tDescUpdated"
        type="text"
        class="answer"
        placeholder="<%= tasks[i].tDesc %>"
        value="<%= tasks[i].tDesc %>"
      />
      <button class="update-button" type="submit">Update</button>
    </form>
    <form class="dog-form" method="POST" action="/delete">
      <input type="hidden" name="productId" value="<%= tasks[i].tId %>" />
      <button
        action="/delete"
        name="delete"
        class="delete-button"
        type="submit"
      >
        Delete
      </button>
    </form>
  </div>
  <% } %> <%} else { %>
  <h2>NO TASKS</h2>
  <%}%>
</main>
<%- include("partials/footer.ejs"); %>
